<!DOCTYPE html>
<html lang="en">
	<head>
        	<meta charset="UTF-8">
        	<title> Asistente Virtual - GoAroundTheCampus </title>
        </head>
        <body> <!-- This is a comment in HTML -->
		<hgroup>
			<p><h1>Bienvenidos a este asistente virtual, el cual te ayudará a moverte por el campus</h1></p>
	    		<p><h2> Página de identificación</h2></p>
		</hgroup>
		<p><h3>Usuario</h3></p> <!--- Title2 of the page -->
		<p><h3>Contraseña</h3></p>
            		<form method="password", action="TryOutSuccessful.html"
                		<input name="get_password" id="get_password">
                	<br />
                		<button type="submit" value="submit">Iniciar Sesión</button>
            		</form>
			<p><h3>¿No tienes una cuenta? Regístrate en el link de abajo</h3></p>
            		<form register="no link">
                		<input type="submit" value="Registrarse" />
            		</form>
	</body>
</html>
